{% extends "base/base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row"
             style="display: flex; flex-direction: row; justify-content: center; padding: 2.5% 2.5% 1% 2.5%">
            <div class="col-md-6">
                <form action="{% url 'user:change_password' %}" method="post"
                      style="padding-top: 70px;">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ user.username }}">
                    <div class="text-center mb-4">
                        <h1 class="h3 mb-3 font-weight-normal">Let's change your password...</h1>
                        <h4 class="h5 mb-5 font-weight-light">to continue, we'll require your</h4>
                    </div>
                    <div class="form-row">
                        <div class="form-label-group col-md-6">
                            {{ form.current_password }}
                            <label for={{ form.current_password.id_for_label }}>{{ form.current_password.label }}</label>
                            {% for error in form.current_password.errors %}
                                <p class="help-block text-danger mt-2">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="mt-2" style="font-size: 15px;">
                        Password should contain at least-
                        <div class="form-row">
                            <div class="col-md-6">
                                <ul>
                                    <li>8 characters</li>
                                    <li>1 Lowercase character</li>
                                    <li>1 special character [@#$%^&+=_-]</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li>1 Uppercase character</li>
                                    <li>1 digit</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label-group col-md-6">
                            {{ form.input_password }}
                            <label for={{ form.input_password.id_for_label }}>{{ form.input_password.label }}</label>
                            {% for error in form.input_password.errors %}
                                <p class="help-block text-danger mt-2">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-label-group col-md-6">
                            {{ form.confirm_password }}
                            <label for={{ form.confirm_password.id_for_label }}>{{ form.confirm_password.label }}</label>
                            {% for error in form.confirm_password.errors %}
                                <p class="help-block text-danger mt-2">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div style="display: flex; flex-flow: row wrap; justify-content: center">
                        <a href="{% url 'classifier:overview' %}"
                           class="btn btn-outline-info mt-3 mr-3">Back
                        </a>
                        <input class="btn btn-primary mt-3 ml-3" type="submit"
                               value="Update Password"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}